.appHeader {
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--bg-header);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: var(--header-shadow);
  backdrop-filter: blur(10px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(10px);
}

.inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.backButton {
  font-size: 16px;
}

