@import '../../../../styles/utils/mixins';

.heroesGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  grid-auto-rows: 1fr;      
  place-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
