.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appShell-main {
  padding: 60px 20px 0;
  z-index: 1;
}

.bgBlobs {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none; 

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

