:root {
  --card-width: 250px;
  --bg-main: #fff;
  --bg-header: #ffffffa6;
  --bg-items: linear-gradient(135deg, #0a122333, #020617a0);
  --color-font: #000;
  --header-shadow: 0 2px 6px rgb(0 0 0 / 12%);
}

:root[data-theme='dark'] {
  --bg-main: #000;
  --bg-header: #000000a6;
  --color-font: #fff;
  --bg-items: linear-gradient(135deg, #7778794f, #7e7e7fad);
  --header-shadow: 0 3px 8px #ffffff40;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.4;
  background: var(--bg-main);
  color: var(--color-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 0 0;
  transition: background 0.03s;

}

h1 {
  font-size: clamp(22px, 2.4vw, 30px);
  margin: 0 0 18px;
  letter-spacing: .2px;
  text-align: center;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 20px 60px;

}

button {
  border: none;
  padding: 4px 10px;
  background: transparent;
  cursor: pointer;
  font: inherit;
  transition: background-color 150ms ease-out, transform 150ms ease-out;
  font-size: 30px;
  color: var(--color-font);

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
